@page
  size $slide-width ($slide-height + 1px)
  margin 0
  border 0

@media print
  .bespoke-slide
    opacity 1
    margin inherit
    position relative
    top inherit
    right inherit
    bottom inherit
    left inherit
    zoom 1 !important

  .bespoke-parent
    margin inherit
    position relative
    top inherit
    right inherit
    bottom inherit
    left inherit

  .bespoke-bullet-inactive
    visibility visible
