doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='mobile-web-app-capable', content='yes')
    title Bespoke.js Starter Presentation
    link(rel='stylesheet', href='build/build.css')

  body
    article.deck
      section.title
        h1 Bespoke.js Starter Presentation

      section
        h2 Topic Slide

      section
        h2 Key Points
        ul.build.build-items
          li First point
          li Second point
          li Final point

      section
        img(src='images/html5.svg')

      section
        h2 The End

    script(src='build/build.js')
