doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='mobile-web-app-capable', content='yes')
    title Bespoke.js Starter Presentation
    link(rel='stylesheet', href='build/build.css')

  body
    article.deck
      section.title
        h1 Bespoke.js Starter Presentation

      section
        h2 Topic Slide

      section
        h2 Key Points
        ul.build.build-items
          li First point
          li Second point
          li Final point

      section
        img(src='images/html5.svg')

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="https://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/PrismJS/prism">Prism</a>
        pre
          code.language-javascript.
            function hanoi (n, a, b, c) {
              return n ? hanoi(n - 1, a, c, b)
                  .concat([[a, b]])
                  .concat(hanoi(n - 1, c, b, a)) : []
            }
            console.log(hanoi(3, 'left', 'right', 'mid')
              .map((d) => `${d[0]} -&gt; ${d[1]}`))

      section
        h2 The End

    script(src='build/build.js')
